{% macro render_field(field) %}
    <div
        class="{% if not field.errors and field.widget.input_type != 'hidden' %}
        mb-3 {% endif %}d-flex justify-content-center"
    >
        {{ field(**kwargs)|safe }}
    </div>
    {% if field.errors %}
        <ul class="list-group mb-3 mt-1 form-errors">
        {% for error in field.errors %}
            <li class="list-group-item list-group-item-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                {{ error }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro render_toast(title, small="", body="") %}
    <div
        aria-live="polite"
        aria-atomic="true"
        class="d-flex justify-content-center align-items-center w-100 position-fixed mt-1"
        style="z-index: 1030"
    >
        <div
            id="toast"
            class="toast"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
        >
            <div class="toast-header">
                <strong class="me-auto">{{ title }}</strong>
                <small>{{ small }}</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="toast-body" class="toast-body">
                {{ body }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_notice(title, body) %}
<div class="card text-center w-50 mx-auto mt-5">
    <div class="card-header">
        {{ title }}
    </div>
    <div class="card-body">
        <p class="card-text">{{body}}</p>
    </div>
</div>
{% endmacro %}