{% from "_macros.html" import render_field, render_toast %}
<div class="modal fade" id="change-password-modal" tabindex="-1" aria-labelledby="password-modal-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="password-modal-label">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="change-password-form" class="needs-validation">
                    {{ password_form.csrf_token }}
                    {{ render_field(password_form.password, class="form-control", placeholder=password_form.password.label.text) }}
                    {{ render_field(password_form.new_password, class="form-control", placeholder=password_form.new_password.label.text) }}
                    {{ render_field(password_form.confirm_new_password, class="form-control", placeholder=password_form.confirm_new_password.label.text) }}
                    {{ render_field(password_form.errors_field, class="form-control") }}
                    <div class="modal-footer">
                        <button id="password-close-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <div id="password-spinner" class="spinner-border text-primary d-none" role="status">
                            <span class="visually-hidden">Updating...</span>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Update" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function setupPasswordForm() {
        $("#change-password-form").submit(function (e) {
            e.preventDefault();
            const submitBtn = $("#change-password-form input[type=submit]");
            const spinner = $("#password-spinner");
            submitBtn.addClass("d-none");
            spinner.removeClass("d-none");
            $.ajax({
                type: "PATCH",
                url: "{{ url_for('change_password') }}",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: $(this).serialize(),
                success: function (resp) {
                    $("#toast-body").text(resp['message']);
                    const toast = new bootstrap.Toast($("#toast"));
                    toast.show();
                    submitBtn.blur();
                    $("#password-close-btn").click();
                },
                error: function (resp) {
                    let newModal = $(resp['responseText']);
                    let newModalContent = $(".modal-content", newModal).html();
                    $("#change-password-modal .modal-content").first()
                        .html(newModalContent);
                    setupPasswordForm();
                },
                completion: function() {
                    submitBtn.removeClass("d-none");
                    spinner.addClass("d-none");
                }
            });
        });
    }
    
    setupPasswordForm();
</script>