{% extends "base.html" %}
{% set active_page = "login" %}
{% block title %}Forgot Password{% endblock %}
{% block body %}
{% from "_macros.html" import render_field, render_toast %}
<div class="card align-items-center mx-auto my-5" style="max-width:500px; min-width:350px;">
    <h5 class="card-header w-100 text-center">
        Forgot Your Password
    </h5>
    <div class="card-body text-center">
        <form class="needs-validation" action="/forgot_password" method="POST">
            {{ form.csrf_token }}
            {{ render_field(form.email, class="form-control", placeholder=form.email.label.text) }}
            {{ render_field(form.errors_field, class="form-control") }}
            <input type="submit" value="Send Password Reset Email" class="btn btn-primary" />
            <input type="hidden" value="{{ next or '' }}" name="next" />
        </form>
    </div>
    {% if sent_email %}
    {{ render_toast(
        "AniMalSync",
        "Alert",
        "If the email is associated with AniMalSync, a password reset email has been sent.")
    }}
    <script>
        const toast = new bootstrap.Toast($("#toast"));
        toast.show();
    </script>
    {% endif %}
</div>
{% endblock %}
