<!-- login.html - Login page for AniMalSync website -->

{% extends "base.html" %}
{% set active_page = "login" %}
{% block body %}
<form>
    <div class="mb-3">
        <label for="email-input" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email-input" />
    </div>
    <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-input" />
    </div>
    <div class="mb-3 
{% endblock %}
