<!-- profile.html - Profile page for user -->

{% extends "base.html" %}
{% set active_page = "profile" %}

{% block body %}
<div class="container-md mt-3">
    <h2>Profile</h2>
    <div>
        {% if not current_user.is_active %}
            <a class="btn btn-outline-danger" href="/verify" role="button">
                Verify Email
            </a>
            <p class="text-muted d-inline-block mx-2">
                Your email must be verified to enable syncing.
            </p>
        {% endif %}
        <table class="container-sm mx-0" style="max-width:500px">
            <tr>
                <td class="col-5"><b>AniList User</b></td>
                <td class="col-7">{{ anilist_username }}</td>
            </tr>
            <tr>
                <td class="col-5"><b>MAL Account</b></td>
                <td class="col-7">
                    <div id="mal-spinner" class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div id="mal-authorized" class="text-success d-none">
                        <span class="bi bi-check-circle d-none" role="img" aria-label="Success"></span>
                        Authorized!
                    </div>
                    <button id="mal-unauthorized" type="button" class="btn btn-outline-danger d-none">
                        Click to Authorize
                    </button>
                </td>
            </tr>
        </table>
        <script>
            $.get("/mal_authorized", function( data ) {
                const { authorized } = data;
                $("#mal-spinner").addClass("d-none");
                if (authorized) {
                    $("#mal-authorized").removeClass("d-none");
                } else {
                    $("#mal-unauthorized").removeClass("d-none");
                }
            });
        </script>
    </div>
</div>
{% endblock %}