{% extends "base.html" %}
{% set active_page = "login" %}
{% block body %}
{% from "_macros.html" import render_field, render_notice %}
{% if valid_link %}
    <div class="card align-items-center mx-auto mt-5" style="max-width:500px; min-width:350px;">
        <h5 class="card-header w-100 text-center">
            Reset Password
        </h5>
        <div class="card-body text-center">
            <form class="needs-validation" action="/reset_password" method="POST">
                {{ form.csrf_token }}
                {{ render_field(form.password, class="form-control", placeholder=form.password.label.text) }}
                {{ render_field(form.confirm_password, class="form-control", placeholder=form.confirm_password.label.text) }}
                {{ render_field(form.user_id_field, class="form-control") }}
                {{ render_field(form.errors_field, class="form-control") }}
                <input type="submit" value="Set New Password" class="btn btn-primary" />
            </form>
        </div>
    </div>
{% else %}
    {{ render_notice("Reset Password", invalid_msg) }}
{% endif %}
{% endblock %}
