<!-- verification.html - Page for verification link -->

{% extends "base.html" %}
{% block body %}
<div class="card text-center w-50 mx-auto my-5">
    <div class="card-header">
        Email Verification
    </div>
    <div class="card-body">
        <p class="card-text">{{body}}</p>
    </div>
    {% if allow_resend|default(False): %}
        <div class="card-footer text-muted">
            Expired link? 
            <a href="{{ url_for('send_verify') }}">Resend Email</a>
        </div>
    {% endif %}
</div>
{% endblock %}